# Build Files
*.class
build
out
Mokka/out
Mokka/Natives/build
Mokka/Natives/libs
Mokka/Natives/cmake-build-debug
Mokka/Natives/External/linux
Mokka/Natives/External/win

# Old files
Mokka/Natives/src/Archive

# Project files
.idea
Mokka.iml


# JNI Error Logs
*.log