# Build Files
*.class
build
out
Mokka/out
Mokka/Natives/build
Mokka/Natives/cmake-build-debug
Mokka/Natives/External/linux
Mokka/Natives/External/win

# Old files and files that are not mine
Mokka/Natives/src/Archive

# Project files
.idea
Mokka.iml
